[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-allauth = "*"
geopy = "*"
leaflet = "*"
python-decouple = "*"
googlemaps = "*"
twilio = "*"
celery = "*"
redis = "*"
azure-maps-search = "*"
azure-maps-route = "*"
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
